<a href="https://colab.research.google.com/github/AyhamAejaz/Assignment/blob/main/PyhtonOperators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Calculate the sum, difference, product, and quotient of two numbers.

In [3]:
#sum
x = 10
y = 5
print (x| + y)

15

In [4]:
#difference
x = 20
y = 5
print(x-y)

15

In [5]:
#product
x = 5
y = 4
print(x*y)

20

In [6]:
#quotient
t = 20
v = 5
print(t/v)

4.0

Perform various assignment operations on a variable.

In [7]:
# Initialize a variable
x = 10

# Addition assignment
x += 5  # Equivalent to x = x + 5
print("After addition assignment:", x)

# Subtraction assignment
x -= 3  # Equivalent to x = x - 3
print("After subtraction assignment:", x)

# Multiplication assignment
x *= 2  # Equivalent to x = x * 2
print("After multiplication assignment:", x)

# Division assignment
x /= 4  # Equivalent to x = x / 4
print("After division assignment:", x)

# Modulus assignment
x %= 3  # Equivalent to x = x % 3
print("After modulus assignment:", x)

# Exponentiation assignment
x **= 2  # Equivalent to x = x ** 2
print("After exponentiation assignment:", x)

x //= 2  # Equivalent to x = x // 2
print("After floor division assignment:", x)

After addition assignment: 15
After subtraction assignment: 12
After multiplication assignment: 24
After division assignment: 6.0
After modulus assignment: 0.0
After exponentiation assignment: 0.0
After floor division assignment: 0.0

Compare two numbers and print the results.

In [8]:
# Define two numbers
number1 = 20
number2 = 15

# Compare the numbers
if number1 > number2:
    print(f"{number1} is greater than {number2}")
elif number1 < number2:
    print(f"{number1} is less than {number2}")
else:
    print(f"{number1} is equal to {number2}")

20 is greater than 15

#Check conditions using logical operators.

In [10]:
# Define variables
x = 5
y = 10
z = 15

# Check conditions using logical operators
if x < y and y < z:
    print("Both conditions are true: x is less than y and y is less than z")
elif x < y or x < z:
    print("At least one condition is true: x is less than y or x is less than z")
elif not (x == y):
    print("The condition is true: x is not equal to y")
else:
    print("None of the conditions are true")

Both conditions are true: x is less than y and y is less than z

Check the identity of variables.

In [11]:
# Define variables
x = 5
y = 5
z = x

# Check identity using id() function
print("Identity of x:", id(x))
print("Identity of y:", id(y))
print("Identity of z:", id(z))

# Compare identities
if id(x) == id(y):
    print("x and y refer to the same object.")
else:
    print("x and y refer to different objects.")

if id(x) == id(z):
    print("x and z refer to the same object.")
else:
    print("x and z refer to different objects.")

Identity of x: 140080802873712
Identity of y: 140080802873712
Identity of z: 140080802873712
x and y refer to the same object.
x and z refer to the same object.

Perform bitwise operations on any two integers.

In [12]:
# Define two integers
num1 = 10    # Binary: 1010
num2 = 7     # Binary: 0111

# Bitwise AND
result_and = num1 & num2  # Binary: 0010 (2 in decimal)
print("Bitwise AND:", result_and)

# Bitwise OR
result_or = num1 | num2   # Binary: 1111 (15 in decimal)
print("Bitwise OR:", result_or)

# Bitwise XOR
result_xor = num1 ^ num2  # Binary: 1101 (13 in decimal)
print("Bitwise XOR:", result_xor)

# Bitwise left shift
result_left_shift = num1 << 1  # Binary: 10100 (20 in decimal)
print("Bitwise Left Shift:", result_left_shift)

# Bitwise right shift
result_right_shift = num2 >> 1  # Binary: 0011 (3 in decimal)
print("Bitwise Right Shift:", result_right_shift)

Bitwise AND: 2
Bitwise OR: 15
Bitwise XOR: 13
Bitwise Left Shift: 20
Bitwise Right Shift: 3

Use unary operators to change the sign of a number.

In [14]:
number = 10
number = -number
print("Changed sign:", number)

Changed sign: -10

Use the ternary operator to assign values based on conditions.

In [15]:
x = 10
y = 20

max_value = x if x > y else y
print("The maximum value is:", max_value)  # Output: 20

The maximum value is: 20