Covert an integer to a floatig-point number.

In [7]:
x = 10
print(type(x))

<class 'int'>

In [8]:
y = float(x)
print(type(y))

<class 'float'>

 Covert a float to a integer.

In [10]:
z = 10.5
print(type(z))

<class 'float'>

In [11]:
v = int(z)
print(type(v))

<class 'int'>

Covert a integer to a string.

In [15]:
x = 50
x = str(x)
print(y)
print(type(y))

50
<class 'str'>

Covert a list to a tuple.

In [17]:
lis = ["ayham", "Cat", "Dog"]
lis = tuple(lis)
print(lis)

('ayham', 'Cat', 'Dog')

Covert a list to a tuple.

In [18]:
tup = ("java", "python", "R")
tup = list(tup)
print(tup)

['java', 'python', 'R']

Covert a decimal number to binary.

In [20]:
num = 200
num = bin(num)
print(num)

0b11001000

Covert a non-zero number to boolean.

In [21]:
number = 42
number = bool(number)
print(number)

True